/* Estilos para el cuerpo de la página */
body {
  background: #ffdc43; /* Color de fondo */
  color: #4a4a4a; /* Color del texto */
  text-shadow: 0px 0px 1px black; /* Sombra del texto */
  font-family: sans-serif; /* Tipo de fuente */
  text-align: center;  /* Alineación del texto */
  padding: 40px 100px; /* Espaciado interno */
}

/* Estilos para los encabezados */
h1 {
  font-style: italic;  /* Estilo de fuente itálica */
}

/* Estilos para las celdas y filas de la tabla */
td,
th {
  vertical-align: middle !important; /* Alineación vertical */
} 

/* Estilos para las imágenes dentro de las celdas de la tabla */
td div {
  background-size: cover;
  width: 60px;
  height: 60px;
}

/* Estilos para la primera fila de la tabla
tbody tr:nth-child(1) td div {
  background-image: url("/tony.jpg");
}

/* Estilos para la segunda fila de la tabla */
/* tbody tr:nth-child(2) td div {
  background-image: url("/Evelien.jpg");
} */

/* Estilos para la tercera fila de la tabla */
/* tbody tr:nth-child(3) td div {
  background-image: url("/Danny.jpg");
} */ */

/* Estilos para los campos de entrada */
input {
  text-align: center; /* Alineación del texto dentro de los campos de entrada */
}
